@media screen and (min-width: 1920.01px) {
    .wrapper {
        width: 1180px;
    }

    .blocks__heading-content {
        width: 1720px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1920px) and (min-width: 1380.01px) {
    .wrapper {
        width: 1180px;
    }

    .blocks__heading-content {
        margin-left: 100px;
    }
}

@media screen and (max-width: 1380px) and (min-width: 1130.01px) {
    .blocks__heading-content {
        margin-left: 100px;
    }
}

@media screen and (max-width: 1130px) and (min-width: 920.01px) {
    .blocks__heading-content {
        margin-right: 50px;
        margin-left: 50px;
    }

    .info__heading {
        display: none;
    }
}

@media screen and (max-width: 1380px) and (min-width: 780.01px) {
    .wrapper {
        width: 85.5%;
        margin: 0 auto;
    }   
}

@media screen and (max-width: 1380px) and (min-width: 570.01px) {
    .pizza {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .about-us {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .blocks__about-us {
        gap: 70px;
    }

    .blocks__pizza {
        gap: 70px;
    }

    .reviews {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .blocks__reviews {
        gap: 70px;
    }

    .set-reviews {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .contacts {
        padding-top: 70px;
        padding-bottom: 40px;
    }

    .info-footer {
        padding-top: 31px;
        padding-bottom: 31px;
    }
}

@media screen and (max-width: 1380px) and (min-width: 920.01px) {
    .flex-container__pizza {
        justify-content: center;
        row-gap: 30px;
    }
}

@media screen and (max-width: 1380px) and (min-width: 1070.01px) {
    .flex-container__pizza {
        column-gap: 150px;
    }

    .slider-container {
        padding: 40px 40px;
    }

    .container__set-reviews {
        gap: 5%;
    }
    
    .flex-item-text__set-reviews {
        width: 55%;
    }

    .flex-item-img__set-reviews {
        /* width: calc(100% - 60px); */
        width: 35%;
    }
}

@media screen and (max-width: 1070px) and (min-width: 920.01px) {
    .flex-container__pizza {
        column-gap: calc(100% - 380px - 380px);
    }
}

@media screen and (max-width: 1070px) and (min-width: 570.01px) {
    .heading-content {
        background-image: url(../img/bg-min.png);
        padding-top: 38px;
        padding-bottom: 68px;
    }

    .blocks__heading-content {
        width: 525px;
        margin: 0 auto;
        align-items: center;
    }

    .block-text__blocks {
        text-align: center;
    }    
    
    .slider-container {
        flex-direction: column;
        gap: 54px;
        align-items: center;
    }

    .slider__content {
        width: 100%;
    }
    
    .slider__author {
        width: 100%;
        text-align: center;
    }

    .flex-item-img__set-reviews {
        display: none;
    }

    .flex-item-text__set-reviews {
        width: 80%;
    }
    
    .container__set-reviews {
        justify-content: center;
    }
}

@media screen and (max-width: 920px) {
    .info__heading {
        display: none;
    } 
    
    .flex-container__pizza {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    } 
    
    .flex-container__about-us {
        flex-direction: column;
        align-items: center;
        gap: 70px;
    }

    .itcss__btn-wrap {
        margin: 30px 0 0;
    }

    .flex-item-text__set-reviews {
        display: flex;
        flex-direction: column;
        width: 80%;
        /* text-align: center; */
    }

    .flex-item-text__set-reviews>h2 {
        margin-left: auto;
        margin-right: auto;
    }

    .flex-item-text__set-reviews>button {
        margin: 0 auto;
    }

    .block-social-icon {
        margin-right: 0px;
    }
}

@media screen and (max-width: 780px) {
    .wrapper {
        width: 91.3%;
        margin: 0 auto;
    }   

    .heading {
        padding-top: 35px;
        padding-bottom: 35px;
        min-width: 380px;
    }

    .logo__heading {
        width: 250px;
    }

    .logo__heading img{
        width: 100%;
    }

    .blocks__heading {
        gap: 1px;
        padding: 35px auto;
    }

    .block-icon__basket-buy {
        width: 35%;
        font-size: 2.4rem;
        line-height: 143%;
        position: relative;
    }

    .block-icon__basket-buy img {
        width: 100%;
    }

    .price__basket-buy {
        font-size: 2.4rem;
    }
    
    .value-products {
        position: absolute;
        bottom: 0;
    }
    .flex-container__contacts {
         flex-direction: column-reverse;
         gap: 70px;
    }
      
    .flex-item-text__contacts {
        width: 100%;
        text-align: center;
        gap: 56px;
    }

    .universal-h2 {
        font-weight: var(--font-weight-bold);
        font-size: 3.6rem;
        line-height: 133%;
        display: flex;
        justify-content: center;
    }

    .blocks__pizza h2 {
        font-size: 4.8rem;
    }

    .content__flex-item-text {
        gap: 48px;
    }

    .flex-item__about-us {
        width: 55%;
    }

    .slider-container {
        padding: 70px 30px;
    }

    .slider__content h4 {
        font-size: 3.2rem;
    }

    .flex-item-map__contacts {
        width: 95.2%;
        height: 608px;
        margin: 0 auto;
    }    

    .flex-container__info-footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 30px;
    }
}

@media screen and (max-width: 570px) {
    html {
        font-size: 9px;
    }
    
    .pizza {
        width: 100%;
        min-width: 320px;
    }

    .logo__heading {
        width: 180px;
    }

    .block-icon__basket-buy {
        width: 28%;
    }

    .heading-content {
        min-width: 320px;
        background-image: url(../img/bg-min.png);
        padding-top: 24px;
        padding-bottom: 46px;
    }

    .blocks__heading-content {
        width: 90%;
        min-width: 280px;
        /* margin: 0 auto; */
        align-items: center;
        gap: 28px;
    }

    .block-text__blocks {
        text-align: center;
        row-gap: 18px;
    }  
    
    .btn__heading-content {
        padding: 16px 26px;
    }

    .pizza {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .blocks__pizza {
        gap: 40px;
    }

    .flex-item__flex-container {
        margin: 0 auto;
    }

    .about-us {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .blocks__about-us {
        gap: 40px;
    }

    .flex-container__about-us {
        gap: 40px;
    }

    .flex-item__about-us {
        width: 65%;
    }

    .flex-item__about-us img {
        margin-bottom: 10px;
    }
    
    .reviews {
        padding-top: 40px;
        padding-bottom: 40px;
        width: 100%;
        min-width: 320px;
    }

    .slider-container {
        padding: 40px 40px;
    }

    .blocks__reviews {
        gap: 40px;
    }

    .set-reviews {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .list-reasons {
        margin-bottom: 40px;
        gap:16px;
    }
        
    .list-reasons li::before {
        content: url(../img/marker-mini-m.png);
        top: -4px;
        left: -22px;
    }

    .button__set-reviews {
        padding: 16px 26px;
    }
    
    .text-block__flex-item {
        padding: 26px 40px;
    }

    .btn__flex-item {
        padding: 16px 24px;
    }
    
    .pizza__description p:nth-of-type(3) {
        margin-top: 16px;
        margin-bottom: 20px;
    }

    .slider-container {
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

    .slider__content {
        width: 100%;
    }

    .slider__author {
        width: 80%;
        text-align: center;
    }

    .slider__author img {
        width: 100%;
    }

    .flex-item-img__set-reviews {
        display: none;
    }

    .flex-item-text__set-reviews {
        width: 80%;
    }
    
    .container__set-reviews {
        justify-content: center;
    }

    .contacts {
        padding-top: 40px;
        padding-bottom: 20px;
    }

    .flex-item-text__contacts {
        gap: 40px;
    }

    .flex-item-map__contacts {
        width: 90%;
        height: 300px;
    }

    .content__flex-item-text {
        gap: 40px;
    }

    .contact__content img {
        margin-bottom: 10px;
    }

    .flex-container__contacts {
            gap: 40px;
    }
    
    .info-footer {
        padding-top: 30px;
        padding-bottom: 20px;
    }

    .flex-container__info-footer {
        gap: 18px;
    }
}

@media screen and (max-width: 490px) {
    .block-text__blocks h1 {
        font-weight: var(--font-weight-bold);
        font-size: var(--font-size-h2);
        line-height: 120%;
        margin: 0;
    }
    
    .block-text__blocks h4 {
        font-weight: var(--font-weight-bold);
        font-size: var(--font-size-height);
        line-height: 143%;
    }

    .flex-item__flex-container {
        width: 80%;
        min-width: 200px;
    }
        
    .flex-item__flex-container img {
        width: 100%;
    }
}

@media screen and (max-width: 440px) {
    html {
        font-size: 8px;
    }
    
    .wrapper {
        min-width: 280px;
    }

    .heading {
        padding-top: 20px;
        padding-bottom: 20px;
        min-width: 320px;
    }

    .basket-buy__heading {
        justify-content: end;
        padding-right: 20px;
    }

    .block-icon__basket-buy {
        width: 21%;
    }

    .blocks__heading-content {
        min-width: 280px;
    }

    .text-block__flex-item {
        padding: 20px 30px;
    }

    .flex-container__pizza {
        gap: 40px;
    } 

    .slider-container {
        padding: 20px 20px;
    }

    .slider__author img {
        width: 70%;
    }

    .itcss__btn-wrap {
        margin: 20px 0 0;
    }

    .logo__heading {
        width: 140px;
    }

    .list-reasons li::before {
        content: url(../img/marker-mini-s.png);
        top: -2px;
        left: -20px;
    }

    .flex-item-text__contacts {
        padding: 0 20px;
    }

    .itcss__btn {
        width: 54px;
        height: 54px;
    }
}

@media screen and (max-width: 380px) {
    html {
        font-size: 7px;
    }
}