@font-face { 
    font-family: 'Lato'; 
    src: url('../fonts/Lato-Regular.ttf')  format('truetype'); 
    font-weight: normal; 
    font-style: normal; 
  }

@font-face { 
    font-family: 'Lato'; 
    src: url('../fonts/Lato-Bold.ttf')  format('truetype'); 
    font-weight: bold; 
    font-style: normal; 
  }

:root {
    --main-color: #2E363E;
    --black-color: #000000;
    --white-color: #FFFFFF;
    --grey-color: #A6AEB6;
    --price-color: #434B53;

    --bg-color-blue: #024C68;
    --bg-color-blue-light: #0776A0;
    --bg-color-yellow: #FFB600;

    --font-family-main: 'Lato', sans-serif;

    --font-weight-regular: normal;
    --font-weight-bold: bold;

    --font-size-light: 2.1rem;
    --font-size-medium: 2.4rem;
    --font-size-height: 2.8rem;
    --font-size-h4: 3.2rem;
    --font-size-h3: 3.6rem;
    --font-size-h2: 4.8rem;
    --font-size-h1: 5.8rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Общие классы */

html {
    font-size: 10px;
}

.wrapper {
    width: 61.35%;
    margin: 0 auto;
}

.universal-h2 {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-h2);
    line-height: 133%;
    text-align: center;
}

body {
    font-family: var(--font-family-main);
    color: var(--main-color);
}

header, header a {
    color: var(--white-color);
}

/* Секция heading */

.heading {
    padding-top: 43px;
    padding-bottom: 56px;
    background-color: var(--bg-color-blue);
}

.blocks__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.info__heading{
    display: flex;
    gap: 15px;
}

.phone-grhWork__info {
    display: flex;
    flex-direction: column;
}

.phone {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-medium);
    line-height: 152%;
}

.grhWork {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-light);
    line-height: 150%;
}

.basket-buy__heading {
    display: flex;
    align-items: center;
    gap: 13px;

    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-height);
    line-height: 143%;
}

/* Секция heading-content */

.heading-content {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(../img/bg-heading.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.blocks__heading-content {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-left: 2.6%;
    
}

.block-text__blocks {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    text-shadow: 3px 3px 0px #000;
}

.block-text__blocks h1 {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-h1);
    line-height: 120%;
    margin: 0;
}

.block-text__blocks h4 {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-h4);
    line-height: 143%;
}

.btn__heading-content {
    padding: 30px 50px;
    background-color: var(--bg-color-yellow);
    color: var(--white-color);
    border-radius: 5px;
    transition: .3s;
    display: inline-block;

    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-light);
    line-height: 152%;
}

.btn__heading-content:hover {
    background-color: var(--bg-color-blue-light);
    color: var(--white-color);
}

/* Секция pizza */

.pizza {
    padding-top: 85px;
    padding-bottom: 100px;
}

.blocks__pizza {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.flex-container__pizza {
    display: flex;
    /* gap: 20px; */
    justify-content: space-between;
    /* color: var(--main-color); */
    flex-wrap: wrap;
}

.flex-item__flex-container {
    width: 380px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 2px 8px 16px rgba(0, 0, 0, 0.3);
}

.flex-item__flex-container img {
    width: 380px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.text-block__flex-item {
    height: 100%;
    padding: 50px 44px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pizza__description h4 {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-height);
    line-height: 143%;
    margin-bottom: 12px;
}

.text-block__flex-item p {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-light);
    line-height: 150%;
}

.pizza__description p:nth-of-type(3) {
    margin-top: 20px;
    margin-bottom: 28px;
    line-height: 120%;
    font-size: 1.8rem;
}

.price__flex-item {
    margin-bottom: 18px;
}

.price__flex-item {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-medium);
    line-height: 150%;
    color: #434B53;
}

.btn__flex-item {
    padding: 20px 35px;
    background-color: var(--bg-color-blue-light);
    color: var(--white-color);
    border-radius: 8px;
    cursor: pointer;
    border: none;
    transition: .3s;

    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-light);
    line-height: 152%;
}

.btn__flex-item:hover {
    background-color: var(--bg-color-yellow);
    color: var(--black-color);
}

/* Секция about-us */

.about-us {
    padding-top: 100px;
    padding-bottom: 100px;
}

.blocks__about-us {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.flex-container__about-us {
    display: flex;
    justify-content: space-between;
}

.flex-item__about-us {
    width: 27.84%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.flex-item__about-us img {
    margin-bottom: 24px;
}

.flex-item__about-us h4 {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-height);
    margin-bottom: 10px;
    line-height: 143%;
}

.flex-item__about-us p {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-light);
    line-height: 150%;
}

/* Слайдер */

.slider-container {
    display: flex;
    border: 2px solid var(--bg-color-yellow);
    width: 100%;
    height: 100%;
    padding: 70px 143px;
    gap: 9%;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF),
    linear-gradient(0deg, #FFB600, #FFB600);

}

.slider__content {
    width: 48%;
}

.slider__author {
    width: 42.5%;
    text-align: center;
}

.slider__content h4 {
    font-size: var(--font-size-h4);
    line-height: 143%;
    padding-top: 30px;
}

.slider__content p {
    font-size: var(--font-size-light);
    line-height: 170%;
    padding-top: 24px;
}

.slider__author img {
    border-radius: 50%;
}

.slider__author p:nth-of-type(1) {
    font-size: var(--font-size-height);
    line-height: 143%;
    padding-top: 30px;
}

.slider__author p:nth-of-type(2) {
    font-size: var(--font-size-medium);
    line-height: 170%;
    padding-top: 6px;
    color: var(--grey-color);
}

/* Секция reviews */

.reviews {
    padding-top: 100px;
    padding-bottom: 100px;
}

.blocks__reviews {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

/* Секция set-reviews */

.set-reviews {
    padding-top: 100px;
    padding-bottom: 106px;
}

.container__set-reviews {
    display: flex;
    justify-content: space-between;
    gap: 11.32%;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
}

.flex-item-text__set-reviews {
    width: 43.4%;
}

.flex-item-text__set-reviews h2 {
    text-align: left;
    margin-bottom: 36px;
}

.list-reasons {
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    list-style: none;
}

.list-reasons li {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-medium);
    line-height: 150%;
    margin-left: 27px;
    position: relative;
}

.list-reasons li::before {
    content: url(../img/marker.svg);
    position: absolute;
    top: -5px;
    left: -27px;
}

.list-reasons li span {
    color: var(--main-color);
}

.button__set-reviews {
    padding: 30px 50px;
    border: none;
    background-color: var(--bg-color-blue-light);
    transition: .3s;
    cursor: pointer;
    border-radius: 8px;
    display: inline-block;

    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-medium);
    line-height: 152%;
    color: var(--white-color);
}

.button__set-reviews:hover {
    background-color: var(--bg-color-yellow);
    color: var(--black-color);
}


.flex-item-img__set-reviews {
    width: 56.6%;
}

.flex-item-img__set-reviews img {
    width: 100%;
}

/* Секция contacts */
.contacts {
    padding-top: 100px;
    padding-bottom: 74px;
}

.flex-container__contacts {
    display: flex;
    justify-content: space-between;
    gap: 9.25%;
}

.flex-item-map__contacts {
    border: 5px dashed var(--bg-color-blue-light);
    border-radius: 10px;
    /* margin-right: 100px; */
    transition: .3s;
    width: 46.3%;
}

.flex-item-map__contacts iframe {
    width: 100%;
    height: 100%;
}


.flex-item-map__contacts:hover {
    border: 5px dashed var(--bg-color-yellow);
}

.flex-item-text__contacts {
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 53.7%;
}

.flex-item-text__contacts h2 {
    text-align: left;
}

.content__flex-item-text {

    display: flex;
    flex-direction: column;
    gap: 40px;
}

.contact__content img {
    margin-bottom: 20px;
}

.contact__content h4 {
    margin-bottom: 6px;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-height);
    line-height: 143%;
}

.contact__content p {
    margin-bottom: 6px;
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-medium);
    line-height: 150%;
}

.contact__content a {
    margin-bottom: 6px;
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-height);
    line-height: 150%;
    color: var(--bg-color-blue-light);
    text-decoration: underline;
}


/* Секция info-footer */

.info-footer {
    padding-top: 54px;
    padding-bottom: 56px;
}

.flex-container__info-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-container__info-footer p {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-light);
    line-height: 150%;
    color: #7E868E;
}

.block-social-icon {
    display: flex;
    gap: 43px;
    margin-right: 33px;
}

#icon-vk {
    background-image: url(../img/vk-blue.svg);
    width: 36px;
    height: 36px;
}

#icon-inst {
    background-image: url(../img/inst-blue.svg);
    width: 36px;
    height: 36px;
}

#icon-vk:hover {
    background-image: url(../img/vk-yellow.svg);
    width: 36px;
    height: 36px;
}

#icon-inst:hover {
    background-image: url(../img/inst-yellow.svg);
    width: 36px;
    height: 36px;
}